<%= form_for @chef do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :dob %>
<%= f.date_field :dob %>
</div>
<div>
<%= f.label :image %>
<%= f.url_field :image %>
</div>
<%= f.submit %>
<% end %>