<p>
<%= @student.name %>
</p>

<p>
 <p>
  Date of birth: <%= @student.dob %>
</p>

<p>
  Collige: <%= @student.collige %>
</p>

<p>
  major: <%= @student.major %>
</p>

<p>
  Your teacher: <%= @student.teacher.name %>
</p>
