<h3 class="center">All the Donuts</h1>

<div class="about row">
  <p class="cyan lighten-2 z-depth-2">A doughnut (British English) or donut (American English) (both: /ˈdoʊnət/ or /ˈdoʊnʌt/; see etymology section) is a type of fried dough confection or dessert food. The doughnut is popular in many countries and prepared in various forms as a sweet snack that can be homemade or purchased in bakeries, supermarkets, food stalls, and franchised specialty vendors.</p>
  <%= image_tag "donut.png", class: "donut-pic col s4" %>
  <p class="view-donuts">see donuts</p>
</div>

<div class="donuts row">
  <% @donuts.each do |donut| %>
  <div class="col s4">
    <div class="card small">
      <div class="card-content">
        <h3 class=""><%= link_to(donut.name, donut_path(donut)) %></h3>
        <p>Size: <%= donut.size %></p>
        <p>Frosting: <%= donut.frosting_type %></p>
        <div class="card-action">
          <p><%= link_to("Delete", "/donuts/#{donut.id}", method: "delete") %></p>
          <p><%= link_to("Edit", "/donuts/#{donut.id}/edit") %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
