<!DOCTYPE html>
<html>
  <head>
    <title>ChefApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
   <%= link_to 'All Chefs', chefs_path %> 
  <%= link_to 'Add new chef', new_chef_path %> 
    <%= link_to 'All Recipes', recipes_path %> 
  <%= link_to 'Add new recipe', new_recipe_path %> 
  </nav>
 
    <%= yield %>
  </body>
</html>
