<%= form_for  @song do |s|%>
<div>
<%= s.label :name, "What is the name of the song?" %>
<%= s.text_field :name %>
</div>

<div>
<%= s.label :year, "publication year:" %>
<%= s.text_field :year %>
</div>

<div>
<%= s.label :singer_id, "who id the singer?" %>
<%= s.collection_select :singer_id, Singer.all, :id, :name %>
</div>


  <div>
  <%= s.label :genre_ids, "what genre is this ?" %> <br>
  <%= s.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
</div>

<%= s.submit %>
<% end  %>