<p> <%=@cheese.name%> </p>
<p> <%=@cheese.description%> </p>
<p> <%=@cheese.milk_type%> </p>
<p> <img src=<%=@cheese.image_url%>> </p>

<%= button_to 'Eat This Cheese', @cheese, method: :delete %>
<br>
<a href="./<%= @cheese.id %>/edit">Edit This Cheese</a>
<p>Name: <%= @cheese.name %></p>
<br>
<p>Milk Type: <%= @cheese.milk_type %></p>
<br>
<p>Description<%= @cheese.description %></p>
<br>
<p> <img src="<%= @cheese.image_url %>"></p>
<br>
<p>Stank Level<%= @cheese.stank_level %></p>
