<!DOCTYPE html>
<html>
  <head>
    <title>OnlineGamesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1> Games App </h1>
  <nav>
  <%= link_to(" all Developers ", developers_path )%>
  <%= link_to(" add new Developer ", new_developer_path) %>
  <%= link_to(" all Games ", games_path )%>
  <%= link_to(" add new Game ", new_game_path) %>
  <%= link_to(" all Genres ", genres_path) %>
  </nav>
    <%= yield %>
  </body>
</html>
