<%= form_for @author do |form| %>
  <div>
  <%= form.label :name %>
  <%= form.text_field :name %>  
  </div>
 
  <div>
  <%= form.label :dob %>
  <%= form.date_field :dob %>
  </div>
  <div>
  <%= form.label :Location %>
  <%= form.text_field :location %>
  </div>
  <div>
  <%= form.label :course %>
  <%= form.text_field :course %>
  </div>
  <div>
  
  </div>
  <%= form.submit %>
<% end  %>