<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
      <%= link_to "All artists", artists_path %>
      <%= link_to "Add an Artist", new_artist_path %>
         <%= link_to "All albums", albums_path %>
      <%= link_to "Add an Aalbum", new_album_path %>
    </nav>
    <%= yield %>
  </body>
</html>
