

<h3>Seller <%=@seller.id %></h3>
<h4>More about <%=@seller.name %>
 </h4>

 
 <p>Email: <%=@seller.email %> </p>
 <p>Location: <%=@seller.location %>  </p> 
 <p>Rate: <%=@seller.rating %> </p>
 <p>Products: 
 
 </p>


  <%= link_to 'Back', sellers_path %>
 

