<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= link_to "All Directors", directors_path %>
      <%= link_to "Add a Director", new_director_path %>
      <%= link_to "All Movies", movies_path %>
      <%= link_to "Add a Movie", new_movie_path %>
      <%= link_to "All Genres", genres_path %>

  <body>
    <%= yield %>
  </body>
</html>
