<%= form_for @film do |f| %>
  <div>
    <%= f.label :title, "What is the title?" %>
    <%= f.text_field :title %>
  </div>
  </br>
  <div>
    <%= f.label :rating, "What is the rating" %>
    <%= f.number_field :rating %>
  </div>
    </br>
  <div>
    <%= f.label :image, "Where is the image?" %>
    <%= f.url_field :image %>
  </div>
    <div>
    <%= f.collection_select( :director_id, Director.all , :id, :name )%>

  </div>
<div>
<%= f.label :genre_ids, "What genre is this film?" %>
</br>
<%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name%>
<!--
ids becasue it's an array
:genre_ids is the key in params
Genre.all is the collection that we aare showing
:id is the value that will be added into params
:name is the text to show to the user-->
</div>
  <%= f.submit "Create Film" %>
<% end %>