<!DOCTYPE html>
<html>
  <head>
    <title>ArtApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav>
<%= link_to 'All artists', artists_path %>
<%= link_to 'All paintings', paintings_path %>
<%= link_to 'Add new artist', new_artist_path %>
<%= link_to 'Add new painting', new_painting_path %>

</nav>
  <body>
    <%= yield %>
  </body>
</html>
