<span><%= link_to("Add New Cheese", new_cheese_path) %></span>
<h1>The Great Hall of Cheeses </h1>
<%= @cheeses.each do |cheese| %>

 
  <h3><%= link_to(cheese.name, cheese_path(cheese)) %></h3>
   <p> <strong>Description:</strong> <%= cheese.milk_type %></p>
   <p> <strong>Stank Level:</strong> <%= cheese.stank_level %></p>
  <%= image_tag cheese.image_url%>
  <p><%= link_to("Eat This Cheese", "/cheeses/#{cheese.id}", method: "delete") %></p>
<% end %>

