<h2>
  <%= @cheese.name %>
</h2>

<p>
  <strong>Milk Type:</strong>
  <%= @cheese.milk_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @cheese.description %>
</p>

<p>
<strong>Sample Photo:</strong>
</p>
  <img src="<%= @cheese.image_url %>">

<div class="controls">
  <%= link_to "Edit Cheese", edit_cheese_path(@cheese) %>
</div>