<h1>Cheese#show</h1>
<a href="./<%= @cheese.id %>/edit">Edit This Cheese</a>
<p>Description: <%= @cheese.description %></p>
<p>Name: <%= @cheese.name %></p>
<p>Milk Type: <%= @cheese.milk_type %></p>
<p>Stank Level: <%= @cheese.stank_level %></p>
<p> <img src="<%= @cheese.image_url %>"></p>
