this is showing up
<%= form_for @game do |f| %>
<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<%= f.label :developer_id %>
<%= f.text_field :developer_id %>
</div>
  <%= f.submit %>
 
<%end %>