<!DOCTYPE html>
<html>
  <head>
    <title>SellerGate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= link_to 'Find By Category', categories_path %>
  <body>
    <%= yield %>
  </body>
</html>
