<%= form_for @country do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :capital %>
    <%= f.text_field :capital %>
  </div>
  <div>
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>
  <div>
    <%= f.label :currency %>
    <%= f.url_field :currency %>
  </div>
  
<%= f.submit %>
<% end %>