<%= form_for @artist do |f| %>
<div>
<%= f.label :name, "What is the Artist name?" %> <br>
<%= f.text_field :name%>
 </div>
 <br>
 <div>
<%= f.label :dob, "When the Artist born?" %><br>
<%= f.date_field :dob%>
 </div>
 <br>
 <div>
<%= f.label :nationality, "What is the Artist name?" %><br>
<%= f.text_field :nationality%>
 </div>
 <br>

 <div>
<%= f.label :image, "Where is the image?" %><br>
<%= f.url_field :image %>
 </div>
 <br>

<%= f.submit %>
<% end %>



