<h2>
  <%= @movie.title %>
</h2>

<img src="<%= @movie.image %>" alt="">

<p>
Director:
  <%= @movie.director %>
</p>

<p>
  Main Actor: 
  <%= link_to @movie.actor.name, actor_path(@movie.actor) %>
</p>


<br>
<p><%= link_to 'Edit', edit_movie_path(@movie) %> </p>
<p><%= link_to("Delete", "/movies/#{@movie.id}", method: "delete") %> </p>