<!DOCTYPE html>
<html>
  <head>
    <title>Cities</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav>
      <%= link_to "All Country", country_index_path %>
      <%= link_to "All City", city_index_path %>
      <%= link_to "All Person", person_path%>
      
    </nav>
    <%= yield %>
  </body>
</html>
