<h1>your choise: </h1>



<%= @rpsList.each do |ls|%>
<%= @rps=%>
  <a href="rps/<%= ls %>"><%= ls %></a>
  <br>

<%end%>
<br>
<h1>computer choise: </h1><br>
<%= @computerChoise %>

<h1>winner is : </h1><br>
<%= @result%>
