<h2> Student Information </h2>

<p> Student : <%= @student.name %> </p>

<p>Major : <%= @student.major %> </p>

<%= link_to 'Edit student Information', edit_student_path %>
<%= link_to 'Remove student', student_path(@student), method: :delete %>

<h3> Course List :</h3>

<h4>
 <ul>
 <% @student.courses.each do |course| %>
   <li>
     <%= link_to("#{course.name}", course_path(course.id)) %>
   </li>
 <% end %>

 </ul>
</h4>

